@page
@model BlueNestKaraoke.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #007BFF;">Welcome to Blue Nest Karaoke</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome, @User.Identity.Name! You are logged in.</p>
    }
    else
    {
        <p>Please log in to access full features.</p>
    }
    <p>Discover upcoming karaoke events and start singing.</p>
</div>